body{
    background-color: rgb(218, 112, 195);
    font-family: cursive;
}
.h2{
    font-size:40px ;
    margin:15px ;

}
.bg1{
    background-image: url(im.jpg);
    background-size: cover ;
    color:red;
}
.bg2{
    background-image: url(im.jpg);
    background-size: cover ;
    color: rgb(26, 4, 22);
}
.container{
    display: grid;
    grid-gap: 15px;
    grid-template-columns:repeat(4,1fr) ;
}
.container>div{
    cursor: progress;
    height: 200px;
    background-attachment: fixed;
    display:flex ;
    flex-direction:column ;
    align-items:center ;
    text-align: center;
    transition:all 3s ease-in-out ;

}
.container>div:hover{
    opacity:0.7;
    transform: scale(0.9);

}
.container>div:nth-of-type(1){
    grid-column: 1/3;
}
.container>div:nth-of-type(6){
    grid-column: 3/5;
}
.container>div:nth-of-type(9){
    grid-column: 3/5;
}
.container>div:nth-of-type(10){
    grid-column: 1/3;
}
.container>div:nth-of-type(12){
    grid-column: 4/5;
}
